	
	/* This is used 
	for validation */
	body {
    	background-color: lightblue;
    	color: darkblue;
	}
	
	#albumcover {
		background-image: url("http://www.goodwillprevailalbum.com/sgt-2/GWP_Cover_v2.png");
		background-repeat: no-repeat;
		background-position: center;
		height: 400px;
		width: 400px;
	}

	
	#italics {
		font-style: italic;
		
	}
	
	h2 {
		font-family: 'Gloria Hallelujah', cursive;
	}
	
	h3 {
		font-family: 'Gloria Hallelujah', cursive;
	}
	
	a {
		text-decoration: none;
	}
	
	a:link {
		text-decoration: none;
	}
	
	a:visited {
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
		background-color: pink;
	}
	
	a:active {
		text-decoration: none;
	}
	
	tbody {
		font-style: italic;
		
	}
	
	tbody tr:nth-child(odd){
		background-color: pink;
	}
	
	tbody tr:nth-child(even){
		background-color: yellow;
	}