	
	/* This is used 
	for validation */
	body {
    	background-color: white;
    	color: black;
	}
	
	#header {
		text-align:center;
		color:black;
	}
	
	#links {
		border:10px;
		padding:15px;
		border-color:white;
		width:100%;
	}
	
	#footer {
		text-align:center;
		color:black;
	}
	