	
	/* This is used 
	for validation */
	body {
    	background-color: white;
    	color: black;
	}
	
	#header {
		background-color: white;
		text-align:center;
		color:black;
	}
	
	#links {
		background-color: white;
		border:10px;
		padding:15px;
		border-color:white;
		width:100%;
	}
	
	#footer {
		background-color: white;
		text-align:center;
		color:black;
	}
	
	div.body1 {
		background-color: #fce68f;
		text-align:center;
	}
	
	a:hover { 		
		font-weight: bold;
	}
	
	a:visited { 		
		color: pink;
		
	}
	
	a:active {
		text-decoration: none;
	}
	
	#beverages {
		width: 200px;
	}
	
	h3 {
		text-decoration: underline;
	}
	
	h1 {
		font-family: 'Gloria Hallelujah', cursive;
	}
	
	div.bev1 {
		text-align: left;
	} 