	
	/* This is used 
	for validation */
	body {
    	background-color: white;
    	color: black;
	}
	
	#header {
		background-color: white;
		text-align:center;
		color:black;
	}
	
	#links {
		background-color: white;
		border:10px;
		padding:15px;
		border-color:white;
		width:100%;
	}
	
	#footer {
		background-color: white;
		text-align:center;
		color:black;
	}
	
	#body1 {
		background-color: #fce68f;
	}