body {
	text-align: center;
	background-color: #e07d87;
	}
	
	.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	}
	
	#results {
	background-color: #f9b6bd;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	}
	
	h3 {
	text-decoration: underline;
	text-align: center;
	}
	
	thead {
	background-color: #e07d87;
	}